aiofiles
annotated-types
anthropic
anyio
arabic-reshaper
certifi
charset-normalizer
click
contourpy
cycler
distro
fastapi
ffmpy
filelock
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib_resources
Jinja2
jiter
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
orjson
packaging
pandas
pillow
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-bidi
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
rich
ruff
semantic-version
shellingham
six
sniffio
starlette
tokenizers
tomlkit
tqdm
typer
typing_extensions
tzdata
urllib3
uvicorn
websockets